<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="styles.css" type="text/css" />
<title>Home</title>
</head>

<body>


		#set($pageName = "detections")
		#parse("templates/delta/header.vm")		
	
		<div id="page">
		
			#parse("templates/delta/side-bar-detections.vm")
			
			<div id="main-content">
			
				<!-- begin main content -->
                <h2>$detection.Rule.Name - Entidades detectadas</h2>
				
				<h3>Anomalia</h3>
				<p>$detection.Rule.Anomaly.Name</p>
				
                <h3>Expressão</h3>
				
				<p>
					$detection.Rule.Expression
				</p>
				
				#foreach($version in $detection.Versions)
					<h3>Versão $version.Number</h3>
					
					#set($entities = $detection.getEntities($version))
					<p>
					<ul style="font-size:8pt;">
					#foreach($entity in $entities)
						<li>$entity.Name</li>
					#end
					</ul>
					</p>
					
				#end
			
				<!-- end main content -->
				
			</div>
			
			<div class="clear"></div>
			
		</div>

</body>
</html>
